<%- include('./messages.ejs') %>
<div class="row justify-content-center">
  <div class="col-lg-9">
    <div class="table-responsive overflow-hidden">
      <h1>Payment History</h1>
      <table class="table table-striped mb-0">
        <thead style="background-color: black; color: white">
          <tr>
            <th>ID</th>
            <th>Payment</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer server-row">
            <th scope="row" class="id">1</th>
            <td class="ip">86.66.5.31</td>
            <td class="port">3369</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
