<div class="row justify-content-center">
  <div class="col-lg-9">
    <div class="table-responsive overflow-hidden">
      <h1>Client List</h1>
      <table class="table table-striped mb-0">
        <thead style="background-color: black; color: white">
          <tr>
            <th>ID</th>
            <th>List Name</th>
            <th>Server Name</th>
            <th>Active Servers</th>
            <th>Disabled Servers</th>
            <th>Payment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>5</td>
            <td>21/08/2012</td>
            <td>VIP</td>
            <td><i class="mdi mdi-checkbox-blank text-danger"></i></td>
            <td>50</td>
            <td>
              <div class="my-dropdown">
                <i
                  class="mdi mdi-dots-vertical dropbtn"
                  type="button"
                  id="dropdown-item"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-bs-boundary="viewport"
                ></i>
                <div class="dropdown-content">
                  <a href="#">Disable</a>
                  <a href="#">Delete</a>
                  <a href="#">Change Color</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
